.GPIOButton-button {
  padding: 8px;
  width: 33vw;
  background-color: #D8D8D8;
}

.GPIOButton-icon {
  color: #000;
}

.GPIOButton-icon path {
  /* text-shadow: 0px 0px 3px #fff; */
  stroke: #fff;
  stroke-width: 10;
}

.GPIOButton-icon-active {
  color: #ff0000;
}
