.Header-container {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.Header-race-timer {
  background-color: transparent;
  color: #545454;
  font-family: 'Comfortaa', cursive;
  text-shadow: 0px 0px 3px #FFF6F6;
  font-size: 1.5em;
  margin: 0;
}

.Header-site-title {
}

.Header-title {
}

.Header-username {
}

/* Large devces */
@media only screen and (min-width: 992px) {
  .Header-container {
    padding: 32px 32px 0 32px;
  }
}
