.Home {
  align-items: space-between;
  background-color: #FFF6F6;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  text-align: center;
  width: 100vw;
}

.Home-controls {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 8px;
}

.Home-controls-left {
  align-items: space-between;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Home-controls-login {
  height: 15vh;
  text-align: center;
  width: 100%;
}

.Home-stream {
  background-color: #FFDFDF;
  height: 65vh;
  margin: 8px;
  width: 100vw;
}

.Home-stream-container {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

/* Large devces */
@media only screen and (min-width: 992px) {
  .Home-controls {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 32px;
  }

  .Home-controls-left {
    align-items: space-between;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .Home-stream {
    height: 60vh;
    margin: 32px;
    width: 100vw;
  }

  .Home-stream-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 64px;
  }
}

/* Extra Large devces */
@media only screen and (min-width: 1200px) {
  .Home-stream {
    height: 65vh;
  }
}
