.Home {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.Home-stream-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home-stream {
  height: 75vh;
}
