.Navigation-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 0;
}

.Navigation-button {
  background-color: #FFDFDF;
  border-width: 0;
  margin-top: 8px;
  padding: 8px;
  width: 200px;
}

.Navigation-button:focus {
  background-color: #D8D8D8;
  outline-color: #5F5F5F;
}

.Navigation-button:focus p {
  background-color: #D8D8D8;
  color: #5F5F5F;
  font-size: 1em;
}

.Navigation-button p {
  background-color: #FFDFDF;
  color: #877E7E;
  font-size: 1em;
}

/* Large devces */
@media only screen and (min-width: 992px) {
  .Navigation-container {
    flex-direction: row;
    justify-content: flex-start;
    padding: 32px 0;
  }

  .Navigation-button {
    height: 50px;
    margin-top: 0;
    margin-right: 32px;
    padding: 16px;
    width: 300px;
  }

  .Navigation-button:focus p {
    font-size: 1.25em;
  }

  .Navigation-button p {
    font-size: 1.25em;
  }
}
