.Navigation-container {
  background-color: transparent;
  bottom: 8px;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0 8px;
  position: absolute;
  width: 100vw;
}

.Navigation-button {
  background-color: #FFDFDF;
  border-width: 0;
  padding: 8px;
  width: 33vw;
}

.Navigation-button:focus {
  background-color: #D8D8D8;
  outline-color: #5F5F5F;
}

.Navigation-button:focus p {
  background-color: #D8D8D8;
  color: #5F5F5F;
}

.Navigation-button p {
  background-color: #FFDFDF;
  color: #877E7E;
}
