.Race {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.Race-stream-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

.Race-stream {
  background-color: transparent;
  height: 100vh;
  width: 100vw;
}
