.SystemDetails-container {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  margin-top: 8px;
}

.SystemDetails-current-pilot {
}

.SystemDetails-queue-position {
  font-size: 1em;
}

.SystemDetails-robot-status {
  font-size: 1em;
  margin-bottom: 8px;
}


/* Large devces */
@media only screen and (min-width: 992px) {
  .SystemDetails-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .SystemDetails-queue-position {
  }

  .SystemDetails-race-time {
    margin-bottom: 16px;
  }

  .SystemDetails-robot-status {
    margin-bottom: 16px;
  }
}
