.Home {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.Home-body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  padding: 0 8px;
  bottom: 50px;
  left: 0;
  width: 100vw;
}

.Home-button-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 0 8px;
  bottom: 8px;
  left: 0;
  width: 100vw;
}

.Home-button {
  padding: 8px;
  width: 33vw;
  background-color: #D8D8D8;
}

.Home-stream-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home-stream {
  height: 75vh;
}

.Home-queue-position {
  font-size: 1em;
}

.Home-robot-status {
  font-size: 1em;
}
