.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.body-container {
  margin: 16px 0;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 16px 0
}

.button {
  margin: 0 16px;
  padding: 8px 16px;
  width: 25vw;
  background-color: #D8D8D8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}

.title {
  font-size: 1.5em;
}

.stream-container {
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stream {
  height: 75vh;
  width: 100vw;
  margin: 0 16px;
}

.queue-position {
  font-size: 1em;
}

.username {
  font-size: 1em;
  font-weight: normal;
}
